#gameboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.hole{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.up{
    background-color: red;
    box-shadow: 4px 4px 4px brown;
}